/*
!.*
.ICEauthority
.RData
.Rhistory
.WorldOfGoo/
.Xauthority
.adobe/
.bash_history
.bashrc~
.cache/
.compiz/
.config/
.dbus/
.dia/
.dmrc
.dvdcss/
.face
.freeciv-client-rc-2.3
.freeciv-server_history
.freemind/
.gconf/
.geeknote/
.gitconfig
.gitignore~
.gksu.lock
.gnome2/
.goutputstream-22XHQW
.goutputstream-2EGGSW
.goutputstream-4YZ3QW
.goutputstream-9KCBRW
.goutputstream-9WHNQW
.goutputstream-ESAITW
.goutputstream-ETHYSW
.goutputstream-HOJCVW
.goutputstream-J67GTW
.goutputstream-K9CEVW
.goutputstream-OHBMUW
.goutputstream-ONCJQW
.goutputstream-OX3WUW
.goutputstream-T0Y0UW
.goutputstream-T6KHRW
.gstreamer-0.10/
.gtk-bookmarks
.icons/
.java/
.lastpass/
.lesshst
.local/
.macromedia/
.matplotlib/
.mission-control/
.mozilla/
.octave_hist
.phoronix-test-suite/
.pip/
.pki/
.profile
.psql_history
.pulse-cookie
.pulse/
.rstudio-desktop/
.scribus/
.signon/
.ssh/
.steam/
.steampath
.steampid
.swp
.virtualenvs/
.wine/
.xsession-errors
.xsession-errors.old
